body {
    font-family: 'Nunito', sans-serif;
}
#input1{
    width: 500px;
    height: 65px;
    border-radius: 17.5px;
}
.textPF1 {
    text-align: left; 
    margin-left: 15%; 
    font-family: 'Nunito', sans-serif;
    color: #234CAD;
}
.dot {
    background: #F2F6FF;
    border-radius: 50%;
    padding: 10px 15px;
    height: 25px;
    width: 25px;
}
.list-group-item {
    border: none !important;
}
a {
    text-decoration: inherit;
    color: #234CAD;
}
.btn {
    margin: 0px 20px;
    padding: 11px 29px;
}
.btn-outline-primary {
    border-radius: 25px;
    border: 2px solid #234CAD;
    color: #234CAD;
}
.btn-light {
    border-radius: 25px;
    color: #234CAD;
    background: #F2F6FF;
}
#product1 {
    background: #F2F6FF;
    border-radius: 60px;
}
#jumbotronsbtn {
    margin: 0 !important;
}
.tittle1 {
    color: #234CAD;
    font-weight: bold;
    font-size: 48px;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #234CAD;
}
.img-thumbnail {
    padding: 10px;
}
.tittle {
    background-color: #F2F6FF;
    border-radius: 50%;
    padding: 5px;
}
.textBoxUse {
    margin-top: 8%;
    margin-left: 10%;
    height: 25%;
    width: 60%;
}
.textBoxWeOffer {
    margin-left: 11%;
    height: 10%;
    width: 55%;
}
.boxButGet {
    margin-left: 4%;
    height: 10%;
    width: 55%;
}
.textBoxUse {
    margin-top: 8%;
    margin-left: 10%;
    height: 25%;
    width: 60%;
}
.textBoxWeOffer {
    margin-left: 11%;
    height: 10%;
    width: 55%;
}
.boxButGet {
    margin-left: 4%;
    height: 10%;
    width: 55%;
}
#button1{
    
position: absolute;
left: 89%;
right: 2%;
top: 15.38%;
bottom: 15.38%;
border-radius: 12.5px;
border: 0px;

}
.textBox1 {
    background-color: #FFFFFF;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100px;
}
.fontkotak1 {
    background-color: #F2F6FF;
    margin: 3%;
    height: 80px;
    width: 80px;
}
.fontAndrew {
    font-family: 'Nunito', sans-serif;
    color: #234CAD;
    font-size: 30px;
    text-align: left;
}
.textBawah {
    font-size: 15px;
    color: #234CAD;
    text-align: left;
}
.fontTime {
    font-size: 15px;
    color: #234CAD;
    text-align: right;
}
.textAJ {
    font-size: 30px;
    text-align: center;
    color: #234CAD;
}
.textBox2 {
    height: 100px;
}
.backgrnd {
    background-color: #F2F6FF;
}
.textBoxUse {
    width: 70%;
}
.textBoxWeOffer {
    width: 70%;
}
.jarakBut {
    margin-left: 11%;
    margin-top: 3%;
}
.jarakAtasBox {
    margin-top: 7%;
}
.sizefontUse {
    font-size: 50px;
}
.sizefontWe {
    font-size: 18px;
    margin-top: 5%;
}
.feature2 {
    background: #F2F6FF;
    border-radius: 60px;
    
}

.backFile {
    background-color: #FFFFFF;
    margin-left: 83%;
    margin-top: 12%;
    height: 90%;
    width:18%;
}
.backgrndSB {
    text-align: right;
    background-color: #FFFFFF;
    height: 20%;
    width: 10%;
    text-align: right;
}
.ukuranImg {
    height: 60px;
}
.backSB {
    background-color: #FFFFFF;
    margin-right: 5%;
    height: 100p;
    margin-top: 2%;
}
.backSales {
    background-color: #a71717;
}
.backgd {
    background-color: #FFFFFF;
    text-align: right;
    width: 60%;
    margin-left: 83%;
}
.fontSM {
    font-family: 'Nunito', sans-serif;
    color: #234CAD;
    font-size: 20px;
    text-align: left;
    margin-top: 5%;
    text-decoration: double;
}
.bawahSM {
    font-size: 13px;
    color: #234CAD;
    text-align: left;
}
.lingback {
    background-color: #F2F6FF;
    height: 40px;
    width: 40px;
}
.textLing {
    font-size: 15px;
    text-align: center;
    color: #234CAD;
}
.ukCal {
    height: 65%;
}
.borderLing {
border: #02143b;
}
.back {
    background-color: #a71717;
}
.backUp {
    margin-left: 40%;
    background-color: #FFFFFF;
    width:60%;
    margin-bottom: 50%;
}
.backMS {
    background-color: #FFFFFF;
    height: 30%;
    width: 40%;
}
.backAS {
    background-color: #FFFFFF;
    height: 30%;
    width: 40%;
    margin-left: 40%;
}
.backChat {
    background-color: #FFFFFF;
    width: 10%;
    margin-left: 30%;
}
.picUp {
    text-align: center;
}
.backUpload {
    margin-left: 40%;
    background-color: #FFFFFF;
    width: 10%;
}